body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(28, 28, 28);
}

main {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  border-radius: 10px;
  max-width: 700px;
  background-color: rgb(242, 242, 242);
}

.title-container {
  padding: 25px 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0.2rem 0;
}

.li-title {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(48, 48, 48);
  margin-right: 5px;
}

.li-title::after {
  content: ':';
}

.description {
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
}

.input-data {
  padding: 20px 20px 0px 20px;
  background-color: rgb(165, 191, 201);
}

.video-id-input {
  width: 50%;
}

.form-settings {
  font-size: 0.8rem;
  margin-top: 10px;
}

.checkbox-container {
  padding: 3px;
  border: rgb(237, 233, 233) solid 1px;
  margin-right: 10px;
  border-radius: 5px;
}

.error-message {
  font-style: italic;
  color: rgb(165, 33, 42);
  height: 1.5rem;
  padding: 0;
  margin: 0.7rem 0;
  line-height: 1rem;
}

.video-data {
  background-color: rgb(242, 242, 242);
  padding: 25px 20px;
}

.results {
  background-color: rgb(242, 242, 242);
  padding: 25px 20px;
}

.winner-data-container {
  background-color: rgb(232, 190, 190);
  padding: 25px 20px;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}
